(
    version: 3,
    windows: (
        scale: 8.5,
        items_per_row: 5,
        overview: (
            launcher: (
                default_terminal: "wezterm",
                launch_modifier: "ctrl",
                width: 650,
                max_items: 5,
                show_when_empty: true,
                plugins: (
                    applications: None,
                    terminal: None,
                    shell: None,
                    websearch: None,
                    calc: None,
                    path: (),
                    actions: None,
                ),
            ),
            key: "Tab",
            modifier: "alt",
            filter_by: [],
            hide_filtered: false,
        ),
        switch: (
            modifier: "alt",
            filter_by: [],
            switch_workspaces: false,
        ),
    ),
)