* {
    font-family: Commit Mono;
    font-size: 14px;
}

window {
    background-color: #1e1e2e;
    border: 2px solid #cba6f7;
    border-radius: 8px;
}

#input {
    background-color: #313244;
    color: #cdd6f4;
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
}

#inner-box {
    background-color: #1e1e2e;
}

#outer-box {
    padding: 8px;
}

#scroll {
    margin: 4px;
}

#text {
    color: #cdd6f4;
    padding: 4px 8px;
}

#entry:selected {
    background-color: #313244;
    border-radius: 4px;
}

#entry:selected #text {
    color: #cba6f7;
}
