/*
 * ─────────────────────────────────────────────────────────────────────────────
 * Global
 * ─────────────────────────────────────────────────────────────────────────────
 */

* {
    font-family: Commit Mono Nerd Font;
    font-size: 13px;
    border: none;
    border-radius: 0;
    padding: 1px;
    margin: 0;
}

window#waybar {
    background-color: #1e1e2e;
    color: #ffffff;
}

/*
 * ─────────────────────────────────────────────────────────────────────────────
 * Workspaces
 * ─────────────────────────────────────────────────────────────────────────────
 */

#workspaces button {
    color: #a6adc8;
    padding: 0 8px;
    margin: 4px 2px;
    border-radius: 4px;
    background-color: #313244;
}

#workspaces button:hover {
    background-color: #45475a;
    color: #cdd6f4;
}

#workspaces button.active {
    background-color: #cba6f7;
    color: #1e1e2e;
}

/*
 * ─────────────────────────────────────────────────────────────────────────────
 * Application launchers
 * ─────────────────────────────────────────────────────────────────────────────
 */

#custom-vivaldi {
    background-color: #313244;
    color: #f38ba8;
    padding: 0 12px;
    margin: 4px 2px;
    border-radius: 4px;
}

#custom-vivaldi:hover {
    background-color: #f38ba8;
    color: #1e1e2e;
}

#custom-firefox {
    background-color: #313244;
    color: #cba6f7;
    padding: 0 12px;
    margin: 4px 4px 4px 4px;
    border-radius: 4px;
}

#custom-firefox:hover {
    background-color: #cba6f7;
    color: #1e1e2e;
}

/*
 * ─────────────────────────────────────────────────────────────────────────────
 * Date / time
 * ─────────────────────────────────────────────────────────────────────────────
 */

#clock
 {
    background-color: #45475a;
    color: #cdd6f4;
    padding: 0 10px;
    margin: 4px 2px;
    border-radius: 4px;
}

#clock:hover
#clock:active {
    color: #cba6f7;
}

/*
 * ─────────────────────────────────────────────────────────────────────────────
 * Notifications
 * ─────────────────────────────────────────────────────────────────────────────
 */

#custom-swaync {
    background-color: #45475a;
    color: #cdd6f4;
    padding: 0 10px;
    margin: 4px 2px;
    border-radius: 4px;
}

#custom-swaync:hover {
    color: #cba6f7;
}

/*
 * ─────────────────────────────────────────────────────────────────────────────
 * System: battery, backlight, displays
 * ─────────────────────────────────────────────────────────────────────────────
 */

#group-system {
    background-color: #313244;
    border-radius: 4px;
    margin: 4px 2px;
    padding: 0;
}

#language {
    color: #cdd6f4;
    padding: 0 8px;
    border-bottom: 2px solid #cba6f7;
}

#language:hover {
    color: #cba6f7;
}

#disk {
    color: #cdd6f4;
    padding: 0 8px;
    border-bottom: 2px solid #cba6f7;
}

#disk:hover {
    color: #cba6f7;
}

#battery {
    color: #cdd6f4;
    padding: 0 8px;
    border-bottom: 2px solid #cba6f7;
}

#battery:hover {
    color: #cba6f7;
}

#battery.warning {
    color: #f9e2af; /* jaune */
    animation: blink 2s ease-in-out infinite;
}

#battery.critical {
    color: #f38ba8; /* rouge */
    animation: blink 0.5s ease-in-out infinite;
}

#backlight {
    padding: 0 8px;
    color: #cdd6f4;
    border-bottom: 2px solid #cba6f7;
}

#backlight:hover {
    color: #cba6f7;
}

#custom-displays {
    padding: 0 8px;
    color: #cdd6f4;
    border-bottom: 2px solid #cba6f7;
}

#custom-displays:hover {
    color: #cba6f7;
}

/*
 * ─────────────────────────────────────────────────────────────────────────────
 * Connectivity: bluetooth, network,
 * ─────────────────────────────────────────────────────────────────────────────
 */

#group-connectivity {
    background-color: #313244;
    border-radius: 4px;
    margin: 4px 2px;
}

#bluetooth {
    padding: 0 8px;
    color: #cdd6f4;
    margin-left: 4px;
    border-bottom: 2px solid #89b4fa;
}

#bluetooth:hover {
    color: #89b4fa;
}

#bluetooth.off {
    color: #585b70;
}

#network {
    padding: 0 8px;
    color: #cdd6f4;
    margin-right: 4px;
    border-bottom: 2px solid #a6e3a1;
}

#network:hover {
    color: #a6e3a1;
}

#network.disconnected {
    color: #f38ba8;
}

/*
 * ─────────────────────────────────────────────────────────────────────────────
 * Multimedia
 * ─────────────────────────────────────────────────────────────────────────────
 */

#group-media {
    background-color: #313244;
    border-radius: 4px;
    margin: 4px 2px;
}

#pulseaudio-microphone {
    padding: 0 8px;
    color: #cdd6f4;
    border-bottom: 2px solid #e7c664;
}

#pulseaudio-microphone:hover {
    color: #e7c664;
}

#pulseaudio {
    padding: 0 8px;
    color: #cdd6f4;
    border-bottom: 2px solid #e7c664;
}

#pulseaudio:hover {
    color: #e7c664;
}

#mpris {
    padding: 0 8px;
    color: #cdd6f4;
    border-bottom: 2px solid #e7c664;
}

#mpris:hover {
    color: #e7c664;
}

#mpris.paused {
    color: #585b70;
}
