/*
 * ─────────────────────────────────────────────────────────────────────────────
 * Global
 * ─────────────────────────────────────────────────────────────────────────────
 */

* {
    font-family: Commit Mono Nerd Font;
    font-size: 13px;
    border: none;
    border-radius: 0;
    padding: 1px;
    margin: 0;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background-color: #1e1e2e;
    color: #ffffff;
}

/*
 * ─────────────────────────────────────────────────────────────────────────────
 * Workspaces
 * ─────────────────────────────────────────────────────────────────────────────
 */

#g-workspaces {
    background-color: #1e1e2e;
    margin: 0;
    padding: 0;
}

/* Default and non-empty buttons */
#workspaces button {
    color: #99d1db;
    background-color: transparent;
    border: none;
    margin: 0 2px 0 2px;
    padding: 0;
}

#workspaces button label {
    font-size: 26px;
    margin: 0;
    padding: 0;
}

/* Empty buttons */
#workspaces button.empty {
    color: #313244;
    background-color: transparent;
}

/* Hover */
#workspaces button:hover {
    color: #f8f8f8;
    background: transparent;
}

/* Current */
#workspaces button.active {
    color: #cba6f7;
    background-color: transparent;
}

/*
 * ─────────────────────────────────────────────────────────────────────────────
 * Monitoring
 * ─────────────────────────────────────────────────────────────────────────────
 */

#g-monitoring {
    background-color: #1e1e2e;
    margin: 0 0 2px 2px;
    padding: 0;
    border-bottom: 2px solid #f38ba8;
}

#disk,
#temperature,
#cpu,
#memory {
    color: #cdd6f4;
    padding: 0 8px;
}

#disk:hover,
#temperature:hover,
#cpu:hover,
#memory:hover {
    color: #f38ba8;
}

/*
 * ─────────────────────────────────────────────────────────────────────────────
 * Applications
 * ─────────────────────────────────────────────────────────────────────────────
 */

#g-apps {
    background-color: #1e1e2e;
    margin: 0 2px 2px 0;
    padding: 0;
    border-bottom: 2px solid #eebebe;
}

#tray {
    color: #cdd6f4;
    padding: 0 8px;
}

/*
 * ─────────────────────────────────────────────────────────────────────────────
 * Various
 * ─────────────────────────────────────────────────────────────────────────────
 */

#g-various {
    background-color: #1e1e2e;
    margin: 0 0 2px 2px;
    padding: 0;
    border-bottom: 2px solid #f8f8f8;
}

#clock,
#custom-swaync,
#custom-trash {
    background-color: #45475a;
    color: #cdd6f4;
    padding: 0 10px;
    margin: 4px 2px;
    border-radius: 4px;
}

#clock:hover,
#clock:active,
#custom-swaync:hover,
#custom-trash:hover {
    color: #f8f8f8;
}

/*
 * ─────────────────────────────────────────────────────────────────────────────
 * System: battery, backlight, displays, etc
 * ─────────────────────────────────────────────────────────────────────────────
 */

#g-system {
    background-color: #1e1e2e;
    margin: 0 2px 2px 2px;
    padding: 0;
    border-bottom: 2px solid #cba6f7;
}

#language,
#idle_inhibitor,
#battery,
#backlight,
#custom-displays {
    color: #cdd6f4;
    padding: 0 8px;
}

#language:hover,
#idle_inhibitor:hover,
#battery:hover,
#backlight:hover,
#custom-displays:hover {
    color: #cba6f7;
}

#battery.warning {
    color: #f9e2af;
    animation: blink 2s ease-in-out infinite;
}

#battery.critical {
    color: #f38ba8;
    animation: blink 0.5s ease-in-out infinite;
}

/*
 * ─────────────────────────────────────────────────────────────────────────────
 * Bluetooth
 * ─────────────────────────────────────────────────────────────────────────────
 */

#g-bluetooth {
    background-color: #1e1e2e;
    margin: 0 2px 2px 2px;
    padding: 0;
    border-bottom: 2px solid #89b4fa;
}

#bluetooth {
    color: #cdd6f4;
    padding: 0 8px;
}

#bluetooth:hover {
    color: #89b4fa;
}

#bluetooth.off {
    color: #585b70;
}

/*
 * ─────────────────────────────────────────────────────────────────────────────
 * Network
 * ─────────────────────────────────────────────────────────────────────────────
 */

#g-network {
    background-color: #1e1e2e;
    margin: 0 2px 2px 2px;
    padding: 0;
    border-bottom: 2px solid #a6e3a1;
}

#network {
    color: #cdd6f4;
    padding: 0 8px;
}

#network:hover {
    color: #a6e3a1;
}

#network.disconnected {
    color: #f38ba8;
}

/*
 * ─────────────────────────────────────────────────────────────────────────────
 * Multimedia
 * ─────────────────────────────────────────────────────────────────────────────
 */

#g-media {
    background-color: #1e1e2e;
    margin: 0 2px 2px 2px;
    padding: 0;
    border-bottom: 2px solid #e7c664;
}

#pulseaudio-microphone,
#pulseaudio,
#mpris {
    color: #cdd6f4;
    padding: 0 8px;
}

#pulseaudio-microphone:hover,
#pulseaudio:hover ,
#mpris:hover {
    color: #e7c664;
}

#mpris.paused {
    color: #585b70;
}
